<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo"></div>
        <h4 style="font-family: fantasy">&nbsp;Grek Detailing</h4>
      </div>
      <div class="col">
        <i class="bi bi-geo-alt"></i>
        Новосибирск<br />
        ул. Покатная 30
      </div>
      <div class="col work-hours">
        <i class="bi bi-stopwatch"></i>
        Работаем 10:00 до 22:00, <br />
        без выходных
      </div>
      <div class="col">
        <a href="tel:+7 (8142) 33 22 11">
          <h5>+7 (951) 376-47-34 &nbsp;</h5>
        </a>
        <a href="https://www.instagram.com/grek_detailing/"
          ><i class="bi bi-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=79513764734">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</div>
