<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="example example__1"></div>
      </div>
      <div class="col">
        <div class="example example__2"></div>
      </div>
      <div class="col">
        <div class="example example__3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="example example__4"></div>
      </div>
      <div class="col">
        <div class="example example__5"></div>
      </div>
      <div class="col">
        <div class="example example__6"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="example example__7"></div>
      </div>
      <div class="col">
        <div class="example example__8"></div>
      </div>
      <div class="col">
        <div class="example example__9"></div>
      </div>
    </div>
  </div>
</div>
