<div class="content">
  <div class="detailing">
    <h1>
      Профессиональный <br />
      детейлинг в Новосибирске
    </h1>
    <h6>Химчистка салона и защита кузова от сколов и царапин!</h6>
  </div>
  <button class="button" (click)="openContactPopup()">Записаться</button>
  <h2 class="services-title">
    <p></p>
    Наши услуги
  </h2>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-service [service]="services[0]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[1]"></app-service>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-service [service]="services[2]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[3]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[4]"></app-service>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-service [service]="services[5]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[6]"></app-service>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-service [service]="services[7]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[8]"></app-service>
      </div>
      <div class="col">
        <app-service [service]="services[9]"></app-service>
      </div>
    </div>
  </div>
  <button class="button" (click)="openContactPopup()">Записаться</button>
  <h2 class="services-title">
    <p></p>
    Наши работы
  </h2>
  <app-examples></app-examples>
</div>
