<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <ya-map [center]="[55.025963, 82.942896]" [zoom]="16">
          <ya-placemark [geometry]="[55.025963, 82.942896]"></ya-placemark>
        </ya-map>
      </div>
      <div class="col info">
        <div class="text">
          <h3>Остались вопросы ? Звоните!</h3>
          <h2 class="phone">+7 (951) 376-47-34</h2>
        </div>
        <div class="text">
          <h5>Или пишите в Whatsapp</h5>
        </div>
        <div class="text">
          <h6>г. Новосибирск,&nbsp; ул.Покатная&nbsp; 30</h6>
          <a href="https://www.instagram.com/grek_detailing/"
            ><i class="bi bi-instagram"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=79513764734">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
