.content {
  background-image: url(https://globusnegoce.com/img/banner/1.jpg);
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transition: 6s;
}
